html {
    .bg-success {
        color: white !important;
    }

    .bg-primary {
        color: #fff !important;
    }

    .bg-secondary {
        color: #fff !important;
    }

    .bg-warning {
        color: #fff !important;
    }
    .notfound{
        .text-h1{
            color: #E6223D;
        }
        .v-btn {
            background-color: #E6223D !important;
            span{}
        }
    }
}
.border,
.v-divider {
    border-color: rgba(var(--v-border-color), 1) !important;
}

