.toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
      
  
    header {
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 8px;
      color: #333;
    }
  
    .titulo-status {
      display: flex;
      align-items: center;
      gap: 10px;
      span,strong{
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-style: normal;
      }
        
      span {
        color: #656565;
      }
      strong{
        color: #171717;
        font-weight: 700;
      }
  
      .filter-button {
          background-color: #2270AD;
          border: none;
          border-radius: 8px;
          padding: 8px;
          cursor: pointer;
          transition: background-color 0.3s;
          width: 47px;
          height: 47px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 4px 8px rgba(30, 60, 90, 0.1);
          &:hover {
            background-color: #155ab1;
          }
        }
    }
  
    .action-buttons {
        display: flex;
        align-items: center;
        gap: 12px;
        
          .new-order-button {
            
            border: 1px solid #F0F0F0;
            color: white;
            border: none;
            
            
            cursor: pointer;
            transition: background-color 0.3s;
            span{
              color: #fff;
              font-size: 16px;
              font-weight: 400;
              padding: 10px 30px;
              background-color: #21599E;
              border-radius: 30px;
              box-shadow: 0 4px 8px rgba(30, 60, 90, 0.1);
              &:hover {
                background-color: #155ab1;
              }
            }
            
          }
          .actions-list-or-grid{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .view-button{
                background-color: transparent;
                border: none;
                border-radius: 8px;
                padding: 8px;
                cursor: pointer;
                  .icon-list{
                    width: 30px;
                    height: 30px;
                  
                    transition: color 0.3s; /* Animação suave na troca de cor */
                    &:hover {
                      color: red; /* Cor desejada no hover */
                    }
                  }
            }
          }
        .popup-button{
          .icon-more{
            width: 30px;
            height: 30px;
           
            transition: color 0.3s; /* Animação suave na troca de cor */
            &:hover {
              color: red; /* Cor desejada no hover */
            }
          }
        }
    }
}
  