// Outline Card
.v-card--variant-outlined {
    border-color: rgba(var(--v-theme-borderLight));
    .v-divider {
        border-color: rgba(var(--v-theme-borderLight));
    }
}

.v-card-text {
    padding: 24px ;
}

.v-card-actions {
    padding: 0.625rem 24px  24px ;
}

.v-card {
    width: 100%;
    overflow: visible;
    &.withbg {
        background-color: rgb(var(--v-theme-background));
    }
    &.w-auto {
        width: auto !important;
    }
    &.overflow-hidden {
        overflow: hidden;
    }
}

.v-card-item {
    padding: 20px 24px;
}

.card-hover-border {
    &:hover {
        border: 1px solid rgb(var(--v-theme-primary));
    }
}
