.modal-downloadPopup{
  position: relative;
}
.popup {
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 180px;
  z-index: 1000;
}

.popup-header {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 8px;
  font-weight: bold;
}

.download-options li {
  list-style: none;
  cursor: pointer;
  padding: 4px 0;
  transition: color 0.3s;

  &:hover {
    color: #007bff;
  }
}

/* Animação */
.fade-slide-enter-active,
.fade-slide-leave-active {
  transition: all 0.3s ease;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateY(-10px);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}