.tabela-pedidos {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

    .table-container {
      overflow-x: auto;
  
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
        thead{
          tr{
            background-color: #fff;
            border-bottom: 1px solid #e0e0e0;
            border-top: 1px solid #e0e0e0;
            padding: 20px 12px;
          }
        }
        th {
          background-color: #fff;
          padding: 12px;
          text-align: left;
          font-size: 14px;
          color: #000;
          font-weight: 700;
          
        }
        tr{
          padding: 20px 12px;
        }
        td {
          padding: 12px;
          border-bottom: 1px solid #e0e0e0;
          font-size: 14px;
          color: #000;
        }
  
        tr:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
  